<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>PEF ICA</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="/static/node_modules/jquery/dist/jquery.min.js" charset="utf-8"></script>
        <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>

        <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/node_modules/@fortawesome/fontawesome-free/css/all.min.css">

        <style media="screen">
            .option{
                width: 200px;
                height: 200px;
                border-radius: 3px;
                border: solid 1px black;
                margin: 5px;
                padding: 5px;
                background-color: #FFF;
                font-weight: bold;
                font-size: 16px;
                overflow: hidden;
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <article class="container-fluid">
            <header class="" style="width:100%">

                <h1 style="position: relative; display:inline-block">Programa de Educação Financeira</h1>

                <div style="position: absolute; display:inline-block; right:5px; top:5px;">
                    <button type="button" name="button" class="btn btn-dark btn-sm">
                        <i class="fa-solid fa-gear"></i>
                    </button>
                </div>

            </header>
            <section>
                <div class="">

                </div>
            </section>
        </article>
    </body>
</html>
