<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>PEF ICA</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="/static/node_modules/jquery/dist/jquery.min.js" charset="utf-8"></script>
        <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>

        <link rel="stylesheet" href="/static/css/reset.css">
        <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="/static/css/index.css">

        <script type="text/javascript">
            function componentNota(text, href){
                const elem = document.createElement('a');
                elem.setAttribute('class','option');
                elem.setAttribute('href',href);

                elem.innerHTML = `<div class="option_text">
                        ${text}
                    </div>
                    <div class="option_ilustration">
                        <img class="option_image rounded-circle" src="/static/images/rosto.jpeg" alt="rosto_dinheiro">
                        <div class="option_ilustration_number">
                            100
                        </div>
                        <div class="option_ilustration_text">
                            $
                        </div>
                    </div>`

                return elem;
            }

            function generate_options(){
                const box = document.getElementById('options_box');
                box.appendChild(componentNota("Teste de Diagnóstico Financeiro", "/PEF_ICA_01"));
                box.appendChild(componentNota("Resultado do teste", "/dashboard/PEF_ICA_01"));
                box.appendChild(componentNota("Cronograma de atividades", "#"));
                box.appendChild(componentNota("Conteúdos das palestras", "#"));
            }
        </script>
    </head>
    <body>
        <article class="container-fluid"  id="grad">
            <header style="width:100%;">

                <div class="h1 title">Instituto de Cartografia Aeronáutica</div>
                <div class="h2 title">Programa de Educação Financeira</div>

                <div style="position: absolute; display:inline-block; right:5px; top:5px;">
                    <button type="button" name="button" class="btn btn-light btn-sm">
                        <i class="fa-solid fa-gear"></i>
                    </button>
                </div>

            </header>
            <section id="apresentacao" class="row">
                <div class="col-sm-6 text-center">
                    <img src="/static/images/educacao_financeira.png" class="rounded-circle image" alt="educação financeira" id="image">
                </div>
                <div class="col-sm-6 text" style="font-size: 20px">
                    <p>
                        O PEF ICA foi criado após o COMAER entender que é de fundamental relevância  a implementação de ações sociais que estimulem a mudança de hábitos por parte de seu efetivo no tocante à sua situação socioeconômica e financeira, em virtude das significativas e complexas consequências no âmbito constitucional, comprometendo a produtividade, a segurança, a qualidade de vida e as relações interpessoais.
                    </p>
                    <p>
                        A presente plataforma tem como objetivo ajudar a equipe do PEF ICA a desenvolver conteúdos e atividades de Educação Financeira direcionados ao nosso efetivo.
                    </p>
                </div>
            </section>

            <section class="options_box" id="options_box"></section>

            <footer class="footer">
                Desenvolvido pela SDEP
            </footer>
        </article>
        <script type="text/javascript">
            $(document).ready( function () {
                generate_options();
            } );
        </script>
    </body>
</html>
